<div class="row comment">
  <span>
    <%= comment.author.name %>:
    <%= comment.text %>
  </span>
  <% if can? :destroy, comment %>
    <%= button_to "Delete", user_post_comment_path(comment.author_id, comment.post_id, comment.id), method: :delete, class: "delete-comment" %>
  <% end %>
</div>