<input type="hidden" value="<%= "Here is a list of all Posts by User with id: #{@user.id}" %>" />
<%= render @user %>
<div id="post-list">
  <%= render @posts %>
</div>
<div class="row-center"><h3>Pagination</h3></div>
